# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyc
.pytest_cache/

# Environments
.env
venv/
ENV/
env/
.venv/

# VS Code
.vscode/

# Idea
.idea/

# Database
*.sqlite3
*.db

# macOS
.DS_Store

# Logs
*.log

# Distribution
build/
dist/
*.egg-info/
.eggs/

# Temporary files
*.swp
*~
